/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
.bannerEdit {
	font-size: 16px;
	background-color: black;
	display: none;
	justify-content: center;
	margin-top: 0;
}
.editP {
	display: flex;
	color: white;
	text-decoration: none;
	margin: 19px 11px 0;
}
.editP p {
 margin: 6px 0 0 10px;
}
.bannerEdit svg {
	vertical-align: text-top;
}
.editButton {
	font-weight: 500;
	padding: 11px 23px;
	margin: 10px;
	background-color: white;
	border: 1px solid white;
	border-radius: 60px;
}
.editImage {
	display: flex;
	margin: 18px 0 0 58px;
	visibility: hidden;
}
.editImage p {
	margin: 6px 0 0 10px;
}
.editTitre {
	display: flex;
	justify-content: center;
	position: relative;
}
.editProject {
	background-color: white;
	display: none;
	position: absolute;
	border: none;
	margin: 3px 0  0 340px;
}
.editProject p {
	margin: 6px 0 0 10px;
}
#portfolio h2 {
	position: absolute;
}
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li a {
	color: black;
	text-decoration: none;
}
li:hover {
	color: #B1663C;
}
li a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filter {
	display: flex;
	justify-content: center;
	margin: 51px 0;
}
.filter p {
	color: #1D6154;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
	text-align: center;
}
.filter p:active {
	color: #e5e5e5;
}
.filter-button {
	padding: 9px 0;
	margin-right: 10px;
	border: 1px solid #1D6154;
	border-radius: 60px;
}
.filter-button:active {
	background-color: #1D6154;
}
.All {
	width: 100px;
}
.Objects {
	width: 100px;
}
.Apartements {
	width: 157px;
}
.Hotels {
	width: 198px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	font-size: 16px;
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact a {
	text-align: center;
	color: black;
}
.loginPage {
	margin-top: 150px;
	margin-bottom: 200px;
}
.buttonSumit{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#contact .error{
	color: #D8000C;
	background-color: #FFBABA;
	display: none;
 }

 #contact .error.errorLog{
	display: block;
 }

 .c-dialog {
	width: 630px;
	height: 731px;
	border: none;
	border-radius: 10px;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	/*padding: 2.4rem;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-color: rgba(black, .75);*/
	transition: .2s;
  }
  .c-dialog__box {
	width: 630px;
	/*flex: 1;
	max-width: 48rem;
	margin: auto;
	padding: 2.4rem;*/
	background-color: white;
  }
  .c-dialog[aria-hidden="true"] {
	visibility: hidden;
	opacity: 0;
  }
  .section2 {
	display: none;
  }
  .exitModal {
	font-size: 24px;
	background-color: white;
	margin: 10px;
	border: none;
	float: right;
  }
  .previous {
	font-size: 21px;
	background-color: white;
	margin: 10px;
	border: none;
	float: left;
  }
  dialog h3 {
	font-size: 26px;
	margin-top: 60px;
	text-align: center;
  }
  .modifiImg {
	height: 500px;
  }
  .trait {
	width: 420px;
	border: 1px solid #B3B3B3;
	margin: auto;
  }
  .ajouPhoto {
	display: flex;
	justify-content: center;
	padding: 0 28px 0 28px;
	height: 36px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }
  .validImg {
	background-color: #A7A7A7;
	display: flex;
	justify-content: center;
	padding: 0 28px 0 28px;
	height: 36px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }
  .deleteAllImg {
	color: #D65353;
	font-family: 'Syne';
	background-color: white;
	border: none;
	width: 630px;
	display: flex;
	justify-content: center;
	
  }

  .framAddPhoto {
	width: 420px;
	height: 129px;
	margin: 40px auto 0;
	padding: 30px 0;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
  }
  .importImg {
	color: #306685;
	background-color: #CBD6DC;
	border: none;
	height: 36px;
	margin: 0;
  }
  .logoAddPhoto {
	font-size: 58px;
  }
  .framAddPhoto p {
	font-size: 10px;
	color: #444444;
  }
  .formAddImg {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 420px;
	height: 180px;
	margin: 20px auto;
  }
  .formAddImg input, .formAddImg select {
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }